# Configuración de Base de Datos
DB_URL=jdbc:postgresql://localhost:5432/candas_v3
DB_USERNAME=tu_usuario_postgres
DB_PASSWORD=tu_password_postgres

# Seguridad (JWT)
# Debe ser una cadena de al menos 256 bits (32 caracteres)
JWT_SECRET=escribe-aqui-tu-secreto-muy-seguro-que-nadie-mas-sepa
JWT_EXPIRATION=86400000

# Seguridad (Código Presinto - Etiqueta Zebra)
# Sirve como semilla para generar un HMAC. Si está vacío/no existe se usa el JWT_SECRET
PRESINTO_SECRET=escribe-aqui-tu-clave-secreta-para-presinto
